* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 1400px;
    height: 1010px;
}

header {
    width: 1020px;
    height: 380px;
    margin: auto;
}
nav ul {
    height: 60px;

}

nav ul li {
    display: inline-block;
}

main {
    width: 1020px;
    height: 630px;
    margin: auto;
}
